clickhouse_driver~=0.2.10
cloudpickle~=3.1
ctgan~=0.2.1
deepecho~=0.8.1
matplotlib~=3.11
numpy~=2.4
pandas~=3.0
pyarrow~=24.0
torch~=2.12
pytorch_lightning~=2.6
rdt~=1.21.0
scikit_learn~=1.9
scipy~=1.17
sdv~=1.37.0
SQLAlchemy~=2.0.50
torchmetrics~=1.9
tqdm~=4.68
vaex~=4.19
plotly~=6.8