clickhouse_driver~=0.2.9
cloudpickle~=3.1
ctgan~=0.11.0
deepecho~=0.7.0
matplotlib~=3.9
numpy~=2.3
pandas~=2.3
pyarrow~=21.0
torch~=2.8
pytorch_lightning~=2.5
rdt~=1.18.1
scikit_learn~=1.7
scipy~=1.13
sdv~=1.27.0
SQLAlchemy~=2.0.43
torchmetrics~=1.8
tqdm~=4.67
vaex~=4.17
plotly~=6.3