clickhouse_driver~=0.2.9
cloudpickle~=3.1
ctgan~=0.2.1
deepecho~=0.7.0
matplotlib~=3.10
numpy~=2.3
pandas~=2.3
pyarrow~=22.0
torch~=2.9
pytorch_lightning~=2.5
rdt~=0.2.1
scikit_learn~=1.7
scipy~=1.16
sdv~=0.3.2
SQLAlchemy~=2.0.44
torchmetrics~=1.8
tqdm~=4.67
vaex~=4.17
plotly~=6.3